body {
    background-color: black;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
#main {
    background-color: white;
}
#navbar {
    width: 100%;
    background-color: rgb(158, 158, 158);
}
#navbar img {
    height: 8vw;
}
h2 {
    padding: 10px;
    margin: 0px;
    color: black;
    text-decoration: underline black;
}
h2::first-letter,h4::first-letter {
    color: #fbdd00;
    font-size: 120%;
}
.cat {
    /* content: ""; */
    display: table;
    clear: both;
}
.list {
    width: 97vw;
    height: auto;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}
.poster {
    text-align: center;
    min-width: 15vw;
    margin: 10px;
}
.poster h4{
    height: 2vw;
}

.list div img {
    width: 100%;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100vh; 
  overflow: auto;
  text-align: center;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  max-height: 100vh;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 1s;
  animation-name: slideIn;
  animation-duration: 1s
}
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 10px 18px;
  background-color: #f44336;
}
.close:hover,.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  padding: 2px 16px;
  background-color: rgb(231, 200, 0);
  color: white;
}
.modal-body {
    padding: 2px 16px;
    display: flex;
    flex-direction : row;
}
.modal-body div p {
    font-family: monospace;
    font-size: 14px;
    padding: 10px;
    margin: 0px;
}
iframe {
    transition: width 2s, height 2s, transform 2s;
}
iframe:hover {
    position: fixed;
    width: 75vw;
    height: 75vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ribbon {
    display: inline;
    position: relative;
    left: -2%; top: 4%;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
}
.ribbon span {
    background-color: red;
    width: 50px;
    line-height: 20px;
    display: block;
    text-align: center;
    color: white;
    position: absolute;
}
.ribbon span::after {
    content: "";
    position: absolute; left: 50px;/* top: 100%;*/
    z-index: -1;
    border-left: 8px solid red;
    border-right: 8px solid transparent;
    border-bottom: 10px solid red;
    border-top: 10px solid transparent;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}


@media screen and (-webkit-min-device-pixel-ratio: 2)
/* @media (max-width: 750px) */{ 
    .poster {
        min-width: 50vw;
    }
    .poster h4 {
        font-size: 14px;
        padding-bottom: 16px;
    }
    .modal-body {
        flex-direction:column!important;
        font-size: small;
    }
    .modal-content {
        position: unset;
        max-height: 150vh;
    }
}